* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    background: #0d1b2a;
    color: #e5e5e5;
}

/* navbar, header */

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.scroll{
    background: #0D1B2A;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    background-image: linear-gradient( 358.7deg,  rgba(42,136,157,1) 1.7%, rgba(122,197,214,1) 51.1%, rgba(211,232,242,1) 95.5% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: 600;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0d1b2a;
    animation: anime 1s ease forwards;
    animation-delay: .4s;
}

.navbar a { 
    font-size: 1.7rem;
    color: #FF6B6B;
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .2s;
}

.navbar a:hover,
.navbar a.active {
    color: #4ecdc4;
}
/* ======================== */

/* burger icon */
#icon-utk-menu{
    font-size: 3.5rem;
    color: #e5e5e5;
    cursor: pointer;
    display: none;
}

/* bikin moving type character */
.container{
    grid-area: 1/1/5/5;
    margin-top: 13rem;
    margin-left: 13rem;
    background: #0D1B2A;
}

.container .text{
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    display: inline-block;
    margin-left: 5px;
}

.container .text.first-text{
    color: #e5e5e5;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0D1B2A;
    border-left: 2px solid #FF6B6B;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
/*============*/

/* isi section */
.testing{
    display: grid;
    grid-template-columns: repeat(7,205px);
    grid-template-rows: repeat(4,200px);
}

.item1{
    grid-area: 2/ 4/ 4/ -1;
    margin-left: 13rem ;
}

.item1 p{
    margin-left: 2.5rem;
    font-size: 2rem;
    margin-bottom: 10px;
}

.item1 h3{
    margin-left: 2.5rem;
    font-size: 3rem;
}

.item1 span{
    font-size: 4rem;
    color: #ff6b6b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.item1 li{
    list-style-type: none;
    margin-left: 2.5rem;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: .5px;
}

.item1 li:nth-child(4){
    margin-top: 3px;
}

.item1 li span{
    font-size: 2.5rem;
}

span{
    color: #ff6b6b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.item3{
    grid-area: 2 / 1/ 4/ 4;
}

.item3 img{
    width: 100%;
    height: 100%;
    margin-left: 13rem;
    margin-top: .8rem;
    border-radius: 8rem;
}

span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0d1b2a;
    animation: anime 1s ease forwards;
    animation-delay: .9s;
}

/* animasi gambar */

.movingPic {
    padding: 2rem 0;
    background-color: #0D1B2A;
}

#image-track {
    display: flex;
    gap: 4vmin;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0%, -50%);
    padding: 2rem 0;
    margin-top: 12rem;
}

#image-track p {
    font-size: 5rem;
}

#image-track .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
    flex-shrink: 0;
    border-radius: 2rem;
}

/* accordion untuk menu latihan */
.accord {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #111;
}

.accordion-container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0d1b2a;
    animation: anime 2s ease forwards;
    animation-delay: .9s;
}
  
.accordion-container, .accordionte {
    max-width: 100%;
    margin: 0;
    margin-bottom: 1rem;
}


.accordion-item {
    margin-bottom: 1.5rem;
}

.accordion-btn {
    width: 100%;
    padding: 0.6rem;
    text-align: left;
    background-color: #FF6B6B;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    
.accordion-btn:hover {
    background-color: #f1c40f;
}
    
.accordion-content {
    padding: 1rem;
    background-color: #000000;
    display: none;
    font-size: 1.4rem;
}
    
.accordion-content p {
    margin-bottom: .5rem;
}
    
.accordion-content h3 {
    margin-bottom: .5rem;
    color: #fff;
}

.status {
    font-weight: bold;
    color: #555;
  }
  
.status.done {
  color: green;
}

/* animasi kayak mark as done */
.mark-done {
    margin-top: 1rem;
    padding: 0.4rem 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
    transition: background-color 0.3s ease;
}
  
.mark-done:hover {
    background-color: #218838;
}

/* text menu */
.textMenu{
    position: relative;
    bottom: 4rem;
    left: 16rem;
    font-size: 2rem;
}

.textMenu p{
    font-weight: 600;
}

/* slide animasi */
@keyframes anime{
    100% {
        width: 0;
    }
}

/* media query responsif */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .item1{
        margin-top: 1rem;
        margin-left: 13rem;
        grid-area: 2/ 3/ 4/ 6;
    }

    .item1 p{
        margin-left: 2rem;
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    
    .item1 h3{
        margin-left: 2rem;
        font-size: 2rem;
    }
    
    .item1 span{
        font-size: 3.5rem;
    }
    
    .item1 li{
        font-size: 1.7rem;
        line-height: 1;
        margin-left: 2rem;
    }
    
    .item1 li span{
        font-size: 2.2rem;
    }

    .item3 img{
        width: 82%;
        height: 85%;
        margin-left: 3rem;
        border-radius: 5rem;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 4%;
    }

    .testing{
        display: grid;
        grid-template-columns: repeat(5,190px);
        grid-template-rows: repeat(4,200px);
    }
    .item1{
        margin-top: 1.2rem;
        margin-left: 5.5rem;
        grid-area: 2/ 3/ 4/ 6;
    }

    .item1 p{
        margin-left: 2rem;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .item1 h3{
        margin-left: 2rem;
        font-size: 1.7rem;
    }
    
    .item1 span{
        font-size: 3rem;
    }
    
    .item1 li{
        font-size: 1.7rem;
        line-height: 1.2;
        margin-left: 2rem;
    }
    
    .item1 li span{
        font-size: 2rem;
    }

    .item3 img{
        width: 72%;
        height: 80%;
        margin-left: 2rem;
        border-radius: 5rem;
    }
}

@media (max-width: 768px){
    .header{
        background: #0d1b2a;
        width: 100vw;
    }

    #icon-utk-menu{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100vw;
        padding: 1rem 4%;
        background: #0d1b2a;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .testing{
        display: grid;
        grid-template-columns: repeat(8,100px);
        grid-template-rows: repeat(4,200px);
    }
    .item1{
        margin-top: 7rem;
        margin-left: 5rem;
        grid-area: 3/ 1/ 4/ 8;
    }

    .item1 p{
        margin-left: 2rem;
        font-size: 1.9rem;
    }
    
    .item1 h3{
        margin-left: 2rem;
        font-size: 1.7rem;
    }
    
    .item1 span{
        font-size: 3rem;
    }
    
    .item1 li{
        font-size: 1.9rem;
        line-height: 1.2;
        margin-left: 2rem;
    }
    
    .item1 li span{
        font-size: 2.5rem;
    }

    .item3{
        grid-area: 1 / 1/ 4/ 9;
        margin-top: 10rem;
    }

    .item3 img{
        width: 80%;
        height: 66%;
        margin-left: 6.8rem;
        border-radius: 2rem;
    }

    #image-track {
        margin-top: 30rem;
    }

    span::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 210%;
        background: #0d1b2a;
        animation: anime 1s ease forwards;
        animation-delay: .9s;
    }
    
    .container .text{
        visibility: hidden;
    }

    .textMenu{
        position: relative;
        bottom: 4rem;
        left: 5rem;
        font-size: 2rem;
    }
}

@media (max-width: 435px){
    html{
        font-size: 45%;
        overflow-x: hidden;
    }

    .header{
        background: #0d1b2a;
    }

    #icon-utk-menu{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100vw;
        padding: 1rem 4%;
        background: #0d1b2a;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .testing{
        display: grid;
        grid-template-columns: repeat(4,115px);
        grid-template-rows: repeat(3,200px);
    }

    .item1{
        margin-top: 17rem;
        margin-left: 9rem;
        grid-area: 2/ 1/ 4/ 4;
        text-align: center;
    }

    .item1 p{
        margin-left: 2rem;
        font-size: 1.9rem;
    }
    
    .item1 h3{
        margin-left: 2rem;
        font-size: 1.7rem;
    }
    
    .item1 span{
        font-size: 3rem;
    }
    
    .item1 li{
        font-size: 1.9rem;
        line-height: 1.2;
        margin-left: 2rem;
    }
    
    .item1 li span{
        font-size: 2.5rem;
    }

    .item3{
        grid-area: 1 / 1/ 5/ 5;
        margin-top: 10rem;
    }

    .item3 img{
        width: 76%;
        height: 45%;
        margin-left: 5.4rem;
        border-radius: 1.5rem;
    }

    #image-track {
        margin-top: 40rem;
    }

    span::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 200%;
        background: #0d1b2a;
        animation: anime 1s ease forwards;
        animation-delay: .9s;
    }

    .container .text{
        visibility: hidden;
    }

    .movingPic{
        overflow: hidden;
    }

    .textMenu{
        position: relative;
        bottom: 4rem;
        left: 16.5rem;
        font-size: 2rem;
    }
}

@media (max-width: 380px){
    html{
        font-size: 45%;
        overflow-x: hidden;
    }

    .header{
        background: #0d1b2a;
    }

    #icon-utk-menu{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100vw;
        padding: 1rem 4%;
        background: #0d1b2a;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .testing{
        display: grid;
        grid-template-columns: repeat(4,115px);
        grid-template-rows: repeat(3,200px);
    }

    .item1{
        margin-top: 14rem;
        margin-left: 2.8rem;
        grid-area: 2/ 1/ 4/ 4;
        text-align: center;
    }

    .item1 p{
        margin-left: 2rem;
        font-size: 1.9rem;
    }
    
    .item1 h3{
        margin-left: 2rem;
        font-size: 1.7rem;
    }
    
    .item1 span{
        font-size: 3rem;
    }
    
    .item1 li{
        font-size: 1.9rem;
        line-height: 1.2;
        margin-left: 2rem;
    }
    
    .item1 li span{
        font-size: 2.5rem;
    }

    .item3{
        grid-area: 1 / 1/ 5/ 5;
        margin-top: 10rem;
    }

    .item3 img{
        width: 70%;
        height: 40%;
        margin-left: 3.7rem;
        border-radius: 1.5rem;
    }

    #image-track {
        margin-top: 40rem;
    }

    span::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 300%;
        background: #0d1b2a;
        animation: anime 1s ease forwards;
        animation-delay: .9s;
    }

    .container .text{
        visibility: hidden;
    }

    .movingPic{
        overflow-y: hidden;
    }

    .textMenu{
        position: relative;
        bottom: 4rem;
        left: 14.5rem;
        font-size: 2rem;
    }
} 

/* Awal Footer */

.box-container_4 {
    height: 400px;
    /* background-color: antiquewhite;  */
    border-radius: 10px;
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10%;
    border: 2px solid #ff6b6b;
    box-shadow: 0 4px 8px #ff6b6b
}



.box-container_4 h1 {
    color: whitesmoke;
    font-size: 25px;
    letter-spacing: normal;
    font-weight: bold;
}

.box-container_4 h2 {
    color: #ff6b6b;
    font-size: 25px;
    letter-spacing: normal;
    font-weight: bold;
}

.box-container_4 h3 {
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: normal;
}

.box-container_4 h4 {
    color: #ff6b6b;
    font-size: 3em;
    letter-spacing: normal;
    font-weight: bold;
}


.box-container_4_1 {
    width: 28%;
    height: 200px;
    border-radius: 10px;
}

.box-container_4_2 {
    width: 28%;
    height: 380px;
    border-radius: 10px;
    display: flex;
    
}

.box-container_4_2_1 {
    width: 50%;
    height: 200px;
    border-radius: 10px;
}

.box-container_4_2_2 {
    width: 50%;
    height: 200px;
    border-radius: 10px;
}


.box-container_4_2 a:link, 
.box-container_4_2 a:visited {
    color: #ffffff;
    text-decoration: none;
    transition: color .3s ease; 
}


.box-container_4_2 a:hover {
    color: #ff6b6b;
    text-decoration: none;
}

.box-container_4_2 a:active {
    color: #ff6b6b;
}


.box-container_4_3 {
    width: 28%;
    height: 380px;
    border-radius: 10px;
    display: flex;    
    flex-direction: column;
}

.box-container_4_3_1 {
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

.box-container_4_3_2 {
    width: 100%;
    height: 220px;
    border-radius: 10px;
}

.box-container_4_3_3 {
    width: 100%;
    height: 90px;
    border-radius: 10px;
}

.naik p {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}


.naik p:hover {
    color: #FF6B6B; /* Warna saat hover */
    transform: scale(1.05); /* Efek zoom saat di-hover */
}




@media (max-width: 330px){
    html{
        font-size: 40%;
        overflow-x: hidden;
    }

    #icon-utk-menu{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100vw;
        padding: 1rem 4%;
        background: #0d1b2a;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .testing{
        display: grid;
        grid-template-columns: repeat(4,80px);
        grid-template-rows: repeat(3,200px);
    }

    .item1{
        margin-top: 14rem;
        margin-left: 10rem;
        grid-area: 2/ 1/ 4/ 4;
        text-align: center;
    }

    .item1 p{
        font-size: 1.5rem;
    }
    
    .item1 h3{
        margin-left: 2rem;
        font-size: 1.7rem;
    }
    
    .item1 span{
        font-size: 3rem;
    }
    
    .item1 li{
        font-size: 1.5rem;
        line-height: 1.2;
        margin-left: 2rem;
    }
    
    .item1 li span{
        font-size: 2.5rem;
    }

    .item3{
        grid-area: 1 / 1/ 6/ 6;
        margin-top: 10rem;
    }

    .item3 img{
        width: 88%;
        height: 40%;
        margin-left: 2.9rem;
        border-radius: 1.5rem;
    }

    #image-track {
        margin-top: 40rem;
    }

    span::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 250%;
        background: #0d1b2a;
        animation: anime 1s ease forwards;
        animation-delay: .9s;
    }

    .container .text{
        visibility: hidden;
    }

    .movingPic{
        overflow-y: hidden;
    }

    .textMenu{
        position: relative;
        bottom: 4rem;
        left: 13.5rem;
        font-size: 2rem;
    }
}



@media only screen and (min-width: 320px){
    /* Awal Footer */
    .box-container_4 {
       display: flex;
       flex-direction: column;
       height: auto;
       justify-content: center;
   }

   .box-container_4_2 {
       position: relative;
       width: 100%;
       height: auto;
   }
   .box-container_4_1 {
       position: relative;
       width: 100%;
       height: auto;
   }
   .box-container_4_2_1 {
       width: 100%;
       height: auto;
   }
   .box-container_4_2_2 {
       width: 100%;
       height: auto;
   }
   .box-container_4_3 {
       width: 100%;
   }
   .box-container_4_3_2 {
       width: 100%;
   }
   /* Akhir Footer */
   
}


@media only screen and (min-width: 600px){

    /* Awal Footer */
    .box-container_4 {
       display: flex;
       flex-direction: column;
       height: auto;
       justify-content: center;
   }

   .box-container_4 h1 {
       font-size: 40px;
   }

   .box-container_4 h2 {
       font-size: 35px;
   }

   .box-container_4 h3 {
       font-size: 30px;
   }

   .box-container_4 p {
       font-size: 22px;
   }

   .box-container_4_2 {
       position: relative;
       width: 100%;
       height: auto;
   }
   .box-container_4_1 {
       position: relative;
       width: 100%;
       height: auto;
   }
   .box-container_4_2_1 {
       width: 100%;
       height: auto;
   }
   .box-container_4_2_2 {
       width: 100%;
       height: auto;
   }
   .box-container_4_3 {
       width: 100%;
   }
   .box-container_4_3_2 {
       width: 100%;
   }
   /* Akhir Footer */
   
}



@media only screen and (min-width: 1200px){

    /* Awal Footer */
    .box-container_4 {
       display: flex;
       flex-direction: row;
       height: auto;
       justify-content: center;
   }

   .box-container_4 h1 {
       font-size: 35px;
   }

   .box-container_4 h2 {
       font-size: 30px;
   }

   .box-container_4 h3 {
       font-size: 25px;
   }

   .box-container_4 p {
       font-size: 22px;
   }

   .box-container_4_1 {
       position: relative;
       width: 33.33%;
       height: auto;
   }
   .box-container_4_2 {
       position: relative;
       width: 33.33%;
       height: auto;
   }
   .box-container_4_2_1 {
       width: 100%;
       height: auto;
   }
   .box-container_4_2_2 {
       width: 100%;
       height: auto;
   }
   .box-container_4_3 {
       height: auto;
       width: 33.33%;
   }
   .box-container_4_3_2 {
       width: 100%;
       height: auto;
   }
   .box-container_4_3_3 {
       margin-top: 2rem;
       width: 100%;
       height: auto;
   }
   /* Akhir Footer */
   
}
